* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: #050505;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
}

main {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background:
    radial-gradient(circle at top, #3b0000, #050505 45%);
}

h1 {
  font-size: 60px;
  color: #ff1a1a;
  text-transform: uppercase;
  letter-spacing: 3px;
}

p {
  margin-top: 15px;
  font-size: 22px;
  color: #ddd;
}
